*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* navbar */
.navbar{
    display:flex;
    justify-content: center;
    position:sticky;
    top:0;
    background-color:rgba(0,0,0,0.5);

}
.navbar ul{
    display:flex;
    list-style:none;
    margin:20px 0px;
}
.navbar ul li{
    font-family: century;
    font: size 1.1rem;
    font-weight: bold;

}
.navbar ul li a{
    text-decoration: none;
    color:white;
    padding: 8px 25px;
    transition:all .5 ease;
}
.navbar ul li a:hover{
    background-color:white;
    color:black;
    box-shadow: 0 0 10px white;
}
/* home section */
#home{
    display:flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height: 840px;
    justify-content:center;
    align-items:center;
    color:white;
}
#home::before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    background:url('main.jpg') no-repeat center center/cover;
    height:900px;
    width:100%;
    z-index:-1;
    opacity:8;

}
.main{
    display:flex;
    flex-direction:column;
    /* border:1px solid white; */
    align-items: center;
    position:absolute;
    top:40%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin:40px 0px;

}
.btn{
    padding:10px 35px;
    background-color: transparent;
    border:1px solid white;
    color:white;
    outline:none;
    transition:.6s ease;

}
.btn:hover{
    cursor:pointer;
    background-color:white;
    color:black;
    box-shadow:0 0 5px white,0 0 10px white,0 0 15px white;
    font-weight: bold;
}
#about{
    display:flex;
    flex-direction: column;
    box-sizing:border-box;
    padding:20px;
    margin-bottom:50px;
    
}
#pic{
    display:flex;
}
#pic img{
    width:575px;
    height:400px;

}
#intro{
    display:flex;
    flex-direction:column;
    text-align:justify;
    padding:10px;

}
#intro h2{
    font-size:2rem;
    margin-bottom:20px;
}


#skill{
    display:flex;
    flex-direction:column;
    background-color:rgba(0,0,0,0.9);
    color:white;
    align-items:center;
    padding:20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style for flipping card starts here */

.flipping-cards{
    margin-top: -3rem;
    padding: 2rem 0;
    
    font-family: 'Rubik', sans-serif;
}

.flipping-card-wrapper{
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.flipping-card-item-wrapper{
    perspective: 150rem;
    position: relative;
    width:   340px;
    height:  400px;
    margin: 1rem;
}

.flipping-card-item-side{
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    margin:  1.5rem;
    width: 100%;
    height: 100%;
    background-position: center;
    background-color: #ffffff;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.18);
    transition: all 1s;
}


.flipping-card-item-side-back{
    color: #000;
    transform: rotateY(180deg);
}


.flipping-card-item-wrapper:hover .flipping-card-item-side-front{
    transform: rotateY(-180deg);
}

.flipping-card-item-wrapper:hover .flipping-card-item-side-back{
    transform: rotateY(0);
}

.flipping-card-item-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-blend-mode: color;
}

.flipping-card-back-wrapper{
    font-weight: 200;
    position: relative;
    top: 25%;
    left: 0;
    margin: 2rem;
    text-align: center;
}

.flipping-card-back-wrapper__btn {
    margin-top: 2rem;
    padding: .7rem;
    text-align: center;
    color: #ffffff;
    border: 0;
    background-image: linear-gradient(to right bottom, #ffa41b, #ff5151);
    transition: all .5s;
}

.flipping-card-back-wrapper__btn:hover {
    background-image: none;
    color: #ffa41b;
    border: 1px solid #ffa41b;
}

/* CONTACT ME */
#contact{
    display:flex;
    flex-direction:column;
    box-sizing: border-box;

    background-color: rgba(0,0,0,.2);
    color:white;
}
.form{
    display:flex;
    flex-direction: column;
    box-sizing:border-box;
    align-items: center;
    margin:20px 0px;
}
.input{
    padding:12px;
    margin:15px;
    width:30%;
    border:none;
    outline:none;
}
#send{
    padding:10px;
    width:10%;
    margin:40px;
    border:none;
    outline:none;
}
#send:hover{
    cursor:pointer;
    box-shadow: 0 0 10px white;

}